.login-container {
    width: 100%;
    padding: 160px 120px 0;
}

.login-container-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-container-main {
    width: 100%;
    max-width: 550px;
    justify-content: center;
    padding: 70px 50px;
    border-radius: 5px;
    border: 1px solid var(--light-gray-color-three);
    /* text-align: center; */
}

.login-container-main-title {
    color: var(--dark-color);
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

.login-container-main-subtitle {
    color: var(--dark-color);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 180.02%;
    margin-bottom: 40px;
}

.login-toolkit {
    height: 100%;
    width: 300px;
    margin-left: 100px;
}

.login-container-question {
    color: var(--dark-color);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 180.02%;
    margin-top: 24px;
}

.login-container-question a {
    color: var(--link-color);
    text-decoration: none;
}

.login-link-in-signup a {
    color: var(--link-color);
    text-decoration: none;
}

@media screen and  (max-width: 1000px) {
    .login-container {
        padding: 150px 20px 0;
    }

    .login-container-main {
        padding: 0;
        border: none;
        /* text-align: center; */
    }

    .login-container-main-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 135.52%;
        letter-spacing: -0.02em;
    }

    .login-container-main-subtitle {
        font-size: 16px;
    }
}
