.postCard {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: var(--spacing-5);
    border-radius: var(--radius-3xl);
    background: var(--color-background-light);
}

@media screen and (max-width: 767px) {
    .postCard {
        gap: var(--spacing-3);
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--color-background-dark);
        border-radius: 0;
        background: transparent;
    }
}