.backButtonMobile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-4);
    background-color: var(--color-background);
    border: none;
    cursor: pointer;
}