.backButtonMobile {
    width: 48px;
    height: 48px;
    background: var(--color-background-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-4);
    border: none;
    cursor: pointer;
}