.mobile-nav {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 450px;
    background-color: var(--white-color);
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%)
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav-header {
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--light-gray-color-three);
}

.mobile-nav-toggle {
    background-color: transparent;
    border: none;
}

.mobile-nav-header-text {
    font-size: 18px;
    padding-left: 10px;
}

.mobile-nav-cancel-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobile-nav-menu-list {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mobile-nav-menu-list li {
    height: 50px;
    width: 100%;
    padding: 12px 25px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mobile-nav-menu-list a,
.mobile-nav-menu-list p {
    width: 100%;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 18px;
}

.mobile-nav-menu-list li a:hover
.mobile-nav-menu-list li p:hover {
    color: var(--special-color);
}

.mobile-nav-menu-list li a.active {
    color: var(--special-color);
}

.mobile-nav-profile-container {
    width: 100%;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--dark-color);
    border-bottom: 1px solid var(--light-gray-color-three);
}

.mobile-nav-profile-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mobile-nav-profile-name {
    font-size: 18px;
}

.mobile-nav-profile-container .mobile-nav-profile-link {
    font-size: 18px;
    color: var(--special-color);
}

.mobile-nav-profile-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-hor-line {
    border-bottom: 1px solid var(--light-gray-color-three);
    width: 100%;
    margin: 20px 0;
}

.nav-cur-poin {
    cursor: pointer;
}