.community-image-container {
    padding-top: 100px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.community-image-container-img {
    width: 100%;
    height: calc(100% - 100px);
    object-fit: cover;
    filter: blur(10px);
    position: absolute;
}

.community-main-image-container {
    position: absolute;
    height: calc(100% - 100px);
}

.community-main-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community-body-container {
    width: 100%;
    padding: 40px 120px;
}

.community-title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.community-title-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 180.02%;
    color: var(--dark-color);
}

.community-basic-details {
    font-size: 16px;
    line-height: 160.02%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.community-basic-details-members,
.community-basic-details-openess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.community-description {
    font-size: 16px;
    line-height: 160.02%;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.community-overall-link-container {
    width: 100%;
    position: relative; /* Add this line */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.community-links-container::-webkit-scrollbar {
    display: none;
}

.community-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    height: 40px;
    -ms-overflow-style: none;  /* for Internet Explorer and Edge */
    scrollbar-width: none;  /* for Firefox */
}

.community-links-item {
    cursor: pointer;
    margin-right: 30px;
    white-space: nowrap;
}

.community-links-item:hover {
    color: var(--special-color);
}

.community-links-item-active {
    font-weight: 500;
    color: var(--special-color);
}

/* Arrow base styling */
.link-container-arrow {
    position: absolute;
    background-color: var(--white-color); /* Semi-transparent black */
    color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 1;
    width: 40px;
    height: 30px;
    padding: 10px 0;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Left arrow specific styling */
.arrow-left-main {
    background: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 5px;
    left: 0;
}

/* Right arrow specific styling */
.arrow-right-main {
    background: linear-gradient(to left, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 5px;
    right: 0;
}

.link-container-arrow img {
    width: 14px;
    height: 14px;
    fill: black;
}

/* Hide arrows when not scrollable */
.arrow-hidden {
    opacity: 0;
    pointer-events: none;
}

/* loading animations */
.community-image-loading {
    padding-top: 100px;
    width: 100%;
    height: 600px;
}

.community-title-loading,
.community-button-loading,
.community-basic-details-loading {
    height: 36px;
}

.community-title-loading{
    width: 70%;
}

.community-button-loading,
.community-basic-details-loading {
    width: 100%;
    max-width: 170px;
}

.community-description-loading {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    max-width: 800px;
}

.community-image-loading,
.community-title-loading,
.community-button-loading,
.community-basic-details-loading,
.community-description-loading {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    border-radius: 2px;
}



@media (max-width: 1340px) {
    .community-body-container {
        padding: 40px 50px;
    }
}

@media screen and  (max-width: 1000px) {
    .community-image-container {
        height: 400px;
    }

    .community-main-image-container {
        width: 100%;
    }

    .community-body-container {
        padding: 40px 20px;
    }

    .community-title-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }

    .community-title-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 140.02%;
    }

    .community-basic-details {
        font-size: 15px;
        margin-top: 20px;
        gap: 25px;
    }

    .community-basic-details-members,
    .community-basic-details-openess {
        gap: 5px;
    }

    .community-description {
        margin-top: 20px;
    }

    /* loading animations */
    .community-image-loading {
        height: 400px;
    }

    .community-title-loading,
    .community-basic-details-loading {
        height: 26px;
    }
}
