.container {
    position: relative;
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-20) var(--spacing-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
}

.content,
.contentMain {
    width: 100%;
    /* max-width: var(--max-width); */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    gap: var(--spacing-10);
}

.content {
    align-items: center;
    justify-content: center;
}

.contentMain {
    padding-left: 277px;
}

@media screen and (max-width: 767px) {
    .container {
        padding: var(--spacing-0) var(--spacing-0) var(--spacing-10);
        gap: var(--spacing-5);
    }

    .contentMain {
        padding: var(--spacing-0) var(--spacing-4);
        gap: var(--spacing-5);
    }
}