.mobileHeader {
    display: none;
    position: sticky;
    top: 0;
}

.cancelButton {
    width: 48px;
    height: 48px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: var(--radius-full);
    background: var(--color-background-light);
}

.title {
    font-size: var(--font-size-lg);
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .mobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-4);
        border-bottom: 1px solid var(--color-background-light);
    }
}
