.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacing-10) var(--spacing-20);
    gap: var(--spacing-32);
}

.mainContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

@media (max-width: 1580px) {
    .container {
        padding: var(--spacing-10) var(--spacing-12);
        gap: var(--spacing-12);
    }
}

@media (max-width: 1279px) {
    .container {
        flex-direction: column;
        padding: var(--spacing-20) var(--spacing-12);
        gap: var(--spacing-12);
        justify-content: center;
        align-items: center;
    }

    .mainContainer {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: var(--spacing-0) var(--spacing-0) var(--spacing-0);
        min-height: calc(100vh - 157px);
        gap: var(--spacing-12);
        flex-direction: column;
        justify-content: center;
    }

    .mainContainer {
        width: 100%;
        min-height: 100%;
    }
}