.chatArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.artIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.emptyChat {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-xl);
    background-color: var(--color-background-light);
}

.emptyChat p {
    line-height: 120%;
    text-align: center;
    font-family: var(--font-boris);
    color: var(--color-text-light);
    font-size: var(--font-size-2xl);
}