.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.formInputPassword {
    width: 100%;
    border-radius: var(--radius-xl);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.formInput,
.textareaWrapper {
    width: 100%;
    border: none;
    overflow: hidden;
    padding: var(--spacing-3-5) var(--spacing-4);
    border-radius: var(--radius-xl);
    background-color: var(--color-background-light);
    color: var(--color-text);
    font-size: var(--font-size-body);
    transition: border-color 0.2s ease;
}

.formInputPassword:hover,
.formInput:hover,
.textareaWrapper:hover,
.textareaWrapper:hover textarea {
    background-color: var(--color-background-dark);
}

.formInput:focus,
.textAreaInput:focus {
    outline: none;
    border-color: var(--color-plain);
}

.textAreaInput {
    width: 100%;
    resize: none;
    font-size: var(--font-size-body);
    border: none;
    color: var(--color-text);
    background-color: var(--color-background-light);
    overflow-y: hidden;
    line-height: 1.5;
    transition: height 0.1s ease;
    min-height: 60px;
}

.charCount {
    font-size: var(--font-size-caption);
    color: var(--color-text-muted);
    text-align: right;
}