.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-6);
}

.userInfo,
.communityInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

.userInfo {
    flex: 1;
    justify-content: flex-start;
}

.communityInfo {
    max-width: 180px;
    gap: var(--spacing-1);
}

.userImage {
    width: 25px;
    height: 25px;
    border-radius: var(--radius-full);
    overflow: hidden;
}

.userImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2);
}

.userName {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
}

.dotText {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
}

.postDate {
    font-size: var(--font-size-sm);
    color: var(--color-text-muted);
}

.communityName {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--font-size-sm);
    color: var(--color-text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-1);
    }

    .userInfo {
        align-items: center;
        gap: var(--spacing-2);
    }

    .userDetails {
        flex-direction: row;
    }

    .communityInfo  {
        max-width: 240px;
        padding-left: var(--spacing-7);
    }
}
