.cardLink {
    text-decoration: none;
}

.card {
    position: relative;
    width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-xl);
    background-color: var(--color-background-light);
    overflow: hidden;
}

.cardCover {
    width: 100%;
    height: 136px;
}

.cardCover img,
.cardProfile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardProfile {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 4px solid var(--color-background-light);
    border-radius: var(--radius-xl);
    overflow: hidden;
    top: 100px;
    left: 20px;
}

/* something goes here */

.cardText {
    width: 100%;
    padding: var(--spacing-14) var(--spacing-5) var(--spacing-5);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    color: var(--color-text);
}

.cardTextMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.cardTextTitle {
    font-size: var(--font-size-base);
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
}

.cardTextDescription {
    font-size: var(--font-size-sm);
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
}

.cardTextMember {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--spacing-sm);
    font-size: var(--font-size-sm);
}

.cardTextMember span {
    white-space: nowrap;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .card {
        width: 320px;
    }
}
