.eventsAdmin,
.eventsMember,
.noEventsAdmin,
.noEventsMember {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    padding: var(--spacing-6);
    border-radius: var(--radius-lg);
    background-color: var(--color-background-light);
}

.eventsAdminTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: var(--font-size-lg);
    color: var(--color-text);
}

.createLink {
    font-size: var(--font-size-base);
    color: var(--color-text);
    text-decoration: underline;
}

.eventsAdminMain,
.noEventsAdminMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-7);
    gap: var(--spacing-6);
    border-radius: var(--radius-2xl);
}

.eventAdminItem,
.memberBodyText {
    color: var(--color-gray);
}

.noEventsMemberMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacing-20) var(--spacing-12);
    gap: var(--spacing-6);
}

.noEventsMemberIcon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-4);
    color: var(--color-event);
    border-radius: var(--radius-3xl);
    background-color: var(--color-event-light);
}

.eventlink {
    text-decoration: none;
    color: inherit;
}

.eventsAdminMain,
.eventsMemberMain {
    background-color: var(--color-event-light);
    display: flex;
}

.eventsAdminMain {
    flex-direction: row;
    align-items: flex-start;
}

.eventsMemberMain {
    flex-direction: column;
    border-radius: var(--radius-2xl);
    overflow: hidden;
}

.eventAdminItem {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3-5);
    padding: var(--spacing-4) 0;
}

.noEventsAdminMain {
    background-color: var(--color-background);
}

.noEventsAdminText {
    max-width: 255px;
    font-size: var(--font-size-lg);
}

.eventAdminDnT {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
    align-items: center;
}

.AdminImg,
.AdminNoImg {
    width: 238px;
    height: 176px;
    background-color: var(--color-background-light);
    border-radius: var(--radius-xl);
    overflow: hidden;
}

.memberImg {
    width: 100%;
    height: 165px;
    border-radius: var(--radius-2xl);
}

.AdminImg img,
.memberImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.memberBody {
    width: 100%;
    padding: var(--spacing-8) var(--spacing-4);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    color: var(--color-gray);
}

.sameLine {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2);
    align-items: center;
}

.memberStartingIn {
    color: var(--color-event);
    font-size: var(--font-size-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.memberBodyText {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.memberBodyText h4 {
    font-size: var(--font-size-md);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.memberBodyText p {
    font-size: var(--font-size-base);
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
    .eventsAdmin,
    .eventsMember,
    .noEventsAdmin,
    .noEventsMember {
        gap: var(--spacing-3);
        padding: var(--spacing-4);
        border-radius: var(--radius-0);
    }

    .eventsAdminMain,
    .noEventsAdminMain,
    .eventsMemberMain {
        flex-direction: row-reverse;
        padding: var(--spacing-3);
        gap: var(--spacing-3);
    }

    .eventAdminDnTAtt,
    .eventDnTAtt {
        display: none;
    }

    .eventAdminDnTTit,
    .eventMemberDnTTit {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title {
        font-size: var(--font-size-base);
    }

    .createLink {
        font-size: var(--font-size-sm);
    }

    .noEventsAdminMain {
        text-align: center;
    }

    .AdminImg,
    .memberImg,
    .AdminNoImg {
        width: 100%;
        max-width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .memberBody {
        padding: 0;
        gap: var(--spacing-2);
    }

    .noEventsAdminText {
        max-width: 255px;
        font-size: var(--font-size-sm);
    }

    .memberStartingIn {
        color: var(--color-gray);
    }

    .memberBodyText h4 {
        font-size: var(--font-size-md);
        font-weight: 500;
        white-space: wrap;
    }

    .memberBodyText p {
        display: none;
    }

    .attendees p {
        font-size: var(--font-size-xs);
    }

    .attendees span {
        display: none;
    }

    .eventAdminItem {
        gap: var(--spacing-3);
        padding: 0;
    }

    .eventAdminDnT {
        flex-direction: column;
        gap: var(--spacing-1);
        align-items: flex-start;
        font-size: var(--font-size-sm);
    }
}