.container {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
}

.containerMain,
.manageAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.profileDetailsTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.formInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}
