.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.profilePictures {
    position: relative;
    width: 100%;
}

.profileCover {
    width: 100%;
    height: 220px;
    border-radius: var(--radius-image);
    overflow: hidden;
}

.profileImage {
    position: absolute;
    width: 158px;
    height: 158px;
    border-radius: var(--radius-image);
    border: 8px solid var(--color-background);
    overflow: hidden;
    bottom: -78px;
    left: 82px;
}

.profileCover img,
.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileAction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 277px;
    gap: var(--spacing-8);
}

.profileTitle {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
    font-size: var(--font-size-2xl);
}

.profileTag {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-sm);
    color: var(--color-community);
    background-color: var(--color-community-light);
    padding: var(--spacing-1-5) var(--spacing-5);
    border-radius: var(--radius-full);
}

.profileButtons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-3);
}

.profileText {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-5);
    margin-left: 277px;
}

.profileTextItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-1-5);
    white-space: nowrap;
}

.buttons {
    width: 50px;
    height: 50px;
    border-radius: var(--radius-full);
    background-color: var(--color-light-hover);
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .profileAction {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .container {
        gap: var(--spacing-4);
    }

    .profileCover {
        height: 150px;
        border-radius: var(--radius-0);
    }

    .profileImage {
        width: 65px;
        height: 65px;
        border-radius: var(--radius-lg);
        border: 3px solid var(--color-background);
        bottom: 10px;
        left: 16px;
    }

    .profileTitle {
        /* gap: var(--spacing-4); */
        justify-content: flex-start;
        align-items: center;
        font-size: var(--font-size-lg);
    }

    .profileTag {
        height: 31px;
        font-size: var(--font-size-xs);
        padding: var(--spacing-1-5) var(--spacing-3);
    }

    .profileAction {
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--spacing-4);
        margin-left: 16px;
    }

    .profileText {
        margin-left: 0;
        padding: var(--spacing-0) var(--spacing-4);
    }
}