.feed {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    width: 100%;
}

@media screen and (max-width: 767px) {
    .feed {
        height: 100%;
        gap: var(--spacing-0);
        background: transparent;
    }
}
