.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.mainTitle {
    font-size: var(--font-size-xl);
}

.containerTexts {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.textTitle {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    justify-content: flex-start;
    align-items: center;
}

.miniTitle {
    font-size: var(--font-size-base);
    color: var(--color-text-muted);
}

.textLink {
    text-decoration: none;
    color: var(--color-text);
}

@media screen and (max-width: 767px) {
    .container {
        gap: var(--spacing-3-5);
    }

    .containerTexts {
        gap: var(--spacing-sm);
    }

    .mainTitle {
        font-size: var(--spacing-5);
    }

    .miniTitle {
        font-size: var(--font-size-base);
    }
}