.card {
    min-width: 380px;
    max-width: 380px;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    gap: var(--spacing-xl);
    border-radius: var(--radius-3xl);
    padding: var(--spacing-16) var(--spacing-6) var(--spacing-20);
    background-color: var(--color-background-light);
}

.card:first-child {
    margin-left: var(--spacing-12);
}

.card:last-child {
    margin-right: var(--spacing-12);
}

.cardText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.cardTitle {
    font-weight: 700;
    color: var(--color-gray);
    font-size: var(--font-size-lg);
}

.cardDescription {
    line-height: 1.5;
    color: var(--color-gray-light);
    font-size: var(--font-size-base);
}

.vector {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    opacity: 0.3;
}

.vector img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .card {
        min-width: 340px;
        max-width: 340px;
    }

    .card:first-child {
        margin-left: var(--spacing-4);
    }

    .card:last-child {
        margin-right: var(--spacing-4);
    }
}
