.form-input-normal,
.form-input-password {
    position: relative;
    height: 48px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-gray-color);
    border-radius: 24px;
    margin-bottom: 15px;
}

.form-input-normal {
    padding: 5px 15px 5px 15px;
}

.form-input-password {
    padding: 5px 45px 5px 15px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.form-input.form-textarea {
    background-color: var(--light-gray-color);
    border-radius: 24px;
    margin-bottom: 15px;
    max-width: 450px;
    height: 150px;
    padding: 10px 15px 5px 15px;
}

.form-input-normal input,
.form-input-password input,
.form-input.form-textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.form-input-normal input,
.form-input-password input {
    background-color: transparent;
    height: 100%;
}

/* .form-input:focus {
    border-color: var(--header-background-color);
} */

@media screen and  (max-width: 1000px) {
    .form-input-normal,
    .form-input-password {
        height: 44px;
        border-radius: 22px;
    }
}
