.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-12);
}

.createCommCard {
    position: relative;
    width: 100%;
    max-width: 727px;
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--spacing-6);
    padding: var(--spacing-6);
    border-radius: var(--radius-3xl);
    background-color: var(--color-background-light);
    overflow: hidden;
}

.createCommCardTitle {
    z-index: 1;
    font-size: var(--font-size-2xl);
    color: var(--color-text);
}

.createCommCardBtn {
    z-index: 1;
}

.particle {
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-radius: var(--radius-3xl);
    width: 500px;
    height: 500px;
}

.design1 {
    border-color: var(--color-default);
    top: 35px;
    left: 130px;
}

.design2 {
    border-color: var(--color-event);
    top: 35px;
    right: -130px;
}

.design3 {
    border-color: var(--color-danger);
    bottom: -440px;
    left: -50px;
}

@media screen and (max-width: 767px) {
    .container {
        margin-top: var(--spacing-8); /* remove later */
        margin-bottom: var(--spacing-12); /* remove later */
    }

    .createCommCardTitle {
        font-size: var(--font-size-lg);
    }
}