.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-bottom {
    padding: 42px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 70px; */
    background-color: var(--dark-color-two);
    color: var(--white-color);
}

.footer-top {
    padding: 42px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    background-color: var(--dark-color-two);
    color: var(--white-color);
}

.footer-bottom-copy {
    font-size: 16px;
}

.footer-bottom-links {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    gap: 50px;
}

.footer-bottom-link-item {
    color: var(--white-color);
    text-decoration: none;
}

.footer-bottom-link-item:hover {
    color: var(--special-color);
    text-decoration: none;
}

@media (max-width: 1340px) {
    .footer-bottom {
        padding: 42px 50px;
    }
}

@media (max-width: 1000px) {
    .footer-bottom {
        padding: 42px 20px;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .footer-bottom-links {
        gap: 25px;
        flex-wrap: wrap;
    }

    .footer-bottom-link-item {
        white-space: nowrap
    }
}