.container {
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-20);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-20);
}

.content {
    width: 100%;
    max-width: 1135px;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4xl);
}

.contentMain {
    flex: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-14);
}

.contentMainTitle {
    font-weight: 400;
}

.contentCard {
    width: 100%;
    max-width: 450px;
}

.contentFooter{
    height: 94px;
    width: 100%;
    background-color: var(--color-background-light);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--spacing-4) var(--spacing-20);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .content {
        flex-direction: column;
        margin-left: 0;
        max-width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: var(--spacing-7) var(--spacing-lg);
        gap: var(--spacing-lg);
    }

    .content {
        gap: var(--spacing-xl);
    }

    .contentMain {
        gap: var(--spacing-xl);
    }

    .contentFooter {
        padding: var(--spacing-4) var(--spacing-lg);
    }
}