/* Post Input Container - Desktop inline display */
.postInputContainer {
    width: 100%;
    border: none;
    display: flex;
    background: var(--color-background-light);
    border-radius: var(--radius-3xl);
    padding: var(--spacing-3) var(--spacing-5) var(--spacing-3);
}

.postInputContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-6);
}

/* Textarea */
.textarea {
    width: 100%;
    border: none;
    font-family: inherit;
    background: transparent;
    font-size: 16px;
    resize: none;
    min-height: calc(1.5em * 2); /* Start at 2 lines */
    max-height: calc(1.5em * 7); /* Max 7 lines */
    line-height: 1.5em;
    overflow-y: auto;
    height: auto;
}

.textarea:focus {
    outline: none;
    border-color: none;
}

.textarea::placeholder {
    color: var(--color-text-muted);
}
