.postCard {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    padding: var(--spacing-6);
    border-radius: var(--radius-card);
    background: var(--color-background-light);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-6);
}

.userInfo,
.communityInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

.userInfo {
    flex: 1;
    justify-content: flex-start;
}

.communityInfo {
    max-width: 100px;
    gap: var(--spacing-1);
}

.userDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--spacing-6);
}

.stat {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    color: var(--color-text-light);
    cursor: pointer;
    transition: color 0.2s;
}

@media screen and (max-width: 767px) {
    .postCard {
        gap: var(--spacing-4);
    }

    .header {
        align-items: flex-start;
    }

    .userInfo {
        flex-direction: column;
        align-items: flex-start;
    }

    .userDetails {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--spacing-1);
    }

    .footer {
        gap: var(--spacing-4);
    }
}
