.guestUpcomingEvent {
    width: 100%;
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.title {
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--color-community);
    line-height: 1.4;
}

.emptyState {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    justify-content: center;
    align-items: center;
    padding: var(--spacing-12) 0;
    text-align: center;
}

.emptyStateIcon {
    width: 70px;
    height: 70px;
    border-radius: var(--radius-3xl);
    background-color: var(--color-background-light);
    display: flex;
    justify-content: center;
    align-items: center;
}