@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


body {
  /* background-color: var(--background-color); */
  color: var(--dark-color);
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Rubik', sans-serif;
}

input, textarea {
  font-family: 'Rubik', sans-serif;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-one {
  margin-bottom: 25px;
}

.mb-two {
  margin-bottom: 50px;
}

.mb-three {
  margin-bottom: 75px;
}

/* For Chrome and Edge */
::-webkit-scrollbar {
  width: 6px;
}

/* ::-webkit-scrollbar-track {
  background: var(--header-background-color);
} */

::-webkit-scrollbar-thumb {
  background-color: var(--special-color);
  border-radius: 3px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: var(--special-color) var(--header-background-color); */
}

/* progress bar styling */
#nprogress .bar {
  background: var(--special-color); /* change this color */
}

/* Change the height */
#nprogress .bar {
  height: 4px; /* change this height */
}

/* Skelenton keyframes animation */
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}