@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  /* background-color: var(--background-color); */
  color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

input, textarea {
  font-family: 'Raleway', sans-serif;
}

.mb-one {
  margin-bottom: 25px;
}

.mb-two {
  margin-bottom: 50px;
}

.mb-three {
  margin-bottom: 75px;
}

/* For Chrome and Edge */
::-webkit-scrollbar {
  width: 6px;
}

/* ::-webkit-scrollbar-track {
  background: var(--header-background-color);
} */

::-webkit-scrollbar-thumb {
  background-color: var(--special-color);
  border-radius: 3px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: var(--special-color) var(--header-background-color); */
}
