:root {
    --pure-Black: #000000;
    --dark-color: #1c1c1e;
    --white-color: #ffffff;
    --light-gray-color: #f6f6f6;
    --light-gray-color-two: #D8D8D8;
    --light-gray-color-three: #B6B6B6;
    --medium-gray-color: #747474;
    --dark-gray-color: #66676e;
    --special-color: #9400AC;
    --special-color-light: #B343C5;
    --special-color-dark: #700083;
    --link-color: #005CE5;
}
