:root {
    --dark-color: #1c1c1e;
    --white-color: #ffffff;
    --light-gray-color: #f0f0f0;
    --special-color: #9400AC;
    --special-color-light: #B343C5;
    --special-color-dark: #270E2C;
    --special-color-disabled: #66676e;
}
