.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    flex-direction: column;
    justify-content: center;
    max-width: var(--max-width);
    padding: var(--spacing-3xl) var(--spacing-0);
}

.containerText {
    width: 100%;
    display: flex;
    max-width: 632px;
    position: relative;
    text-align: center;
    align-items: center;
    gap: var(--spacing-4);
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-0) var(--spacing-20);
}

.textTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    letter-spacing: -2px;
    color: var(--color-text);
}

.textSubtitle {
    text-align: center;
    font-size: var(--font-size-md);
}

@media (max-width: 1279px) {
    .container {
        gap: var(--spacing-8);
    }
}

@media screen and (max-width: 767px) {
    .container {
        gap: var(--spacing-6);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-2xl) var(--spacing-0);
    }

    .containerText {
        padding: var(--spacing-0) var(--spacing-4);
    }

    .textTitle {
        font-size: 24px;
    }

    .textSubtitle {
        font-size: var(--font-size-base);
    }
}