.custom-button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    transition: background-color 0.3s ease;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-login-button{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    height: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px; /* 80 */
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
}

.social-login-button img{
    height: 17px;
}

.custom-tag {
    padding: 12px 14px;
    border-radius: 5px;
    border: 1px solid var(--special-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.is-tagged {
    background-color: var(--special-color);
    color: var(--white-color);
}

.not-tagged {
    background-color: transparent;
    color: var(--special-color);
}

.default-style {
    border: none;
    background-color: var(--special-color);
    color: var(--white-color);
}

.bland-style {
    border: none;
    background-color: var(--light-gray-color-three);
    color: var(--dark-color);
}

.inverted-style {
    border: 0.5px solid var(--special-color);
    background-color: transparent;
    color: var(--special-color);
}

.checked-style {
    border-radius: 5px;
    cursor: pointer;
}

.google-style {
    border: 1px solid var(--dark-color);
    background-color: transparent;
    color: var(--dark-color);
}

.not-checked {
    border: 3px solid var(--light-gray-color-two);
    background-color: var(--white-color);
    color: var(--medium-gray-color);
}

.is-checked,
.not-checked:hover {
    border: 3px solid var(--special-color);
    background-color: var(--light-gray-color);
    color: var(--special-color-dark);
}

.bland-style:hover {
    border: none;
    background-color: var(--medium-gray-color);
    color: var(--dark-color);
}

.no-style {
    border: none;
    background: none;
    color: var(--medium-gray-color);
    text-decoration: underline;
    letter-spacing: .5px;
}
  
.default-style:hover {
    background-color: var(--special-color-dark);
}

.inverted-style:hover {
    border: 2px solid var(--special-color-dark);
    color: var(--special-color-dark);
}

.no-style:hover {
    background: var(--light-gray-color);
    color: var(--dark-color);
}

.default-style:disabled {
    /* background-color: var(--dark-gray-color); */
    background-color: var(--special-color-light);
    color: var(--white-color);
    cursor: not-allowed;
    opacity: 0.6;
}

.normal {
    width: 100%;
    max-width: 170px;
}

.form {
    width: 100%;
    max-width: 450px;
}

.small {
    width: 100%;
    width: 140px;
}

.padded {
    padding: 20px 30px;
}

.mob {
    display: none;
}

@media screen and  (max-width: 1000px) {
    .custom-button,
    .social-login-button {
        height: 40px;
    }
    
    .desk {
        display: none;
    }

    .mob {
        display: flex;
    }
}